#page-wrapper{
  background-color: #E6E0F8;
  padding: 10px 20px;
  border : 3px solid;
  border-color: #240B3B;
  border-radius : 6px;
  box-shadow: 0 2px 10px(100,100,100,0.3);
  text-align:center;

}
#main-navigation{

  border-bottom: 2px solid #240B3B;
  height:40px;
}
.title{
  padding: 0 0 10px 0;
  font-weight:1000;
}

.menu-title
{
  display:inline-block;
  height:30px;
  text-align:center;
  padding: 5px 20px 5px 20px;
  color: black;
}
.menu-title:hover{
  background-color: #240B3B;
  border-radius:3px;
  color: white;
}
.menu-title:active{
  color:yellow;
}
.other-title{
  text-align:center;
  color:black;
}
.other-title:hover{
  background-color: #240B3B;
  color:white;
}
.other-title:hover{
  color:yellow;
}
.other-navigation:hover{
  background-color: #240B3B;
  color:white;
}
